{% comment %} STYLESHEET {% endcomment %}
{{ 'moriarty-featured-content.css' | asset_url | stylesheet_tag }}

{% comment %} IMAGE SPECS {% endcomment %}
{%- liquid
  assign widths = '100, 300, 500, 800, 1200'

  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{% comment %} SECTION {% endcomment %}
{% assign ss = section.settings %}

<div
  class="featured-content color-{{ section.settings.color_scheme }}"
  style="padding-top: {{ section.settings.section_padding_top }}px; padding-bottom: {{ section.settings.section_padding_bottom }}px"
>
  {% comment %} CARD 1 {% endcomment %}
  <div class="featured-content__cards">
    {% render 'moriarty-featured-content-card',
      image: ss.card_1_image,
      title: ss.card_1_title,
      subtitle: ss.card_1_subtitle,
      card: 'card_1'
    %}
    {% comment %} CARD 2 {% endcomment %}
    {% if ss.card_count == 'cards_2' %}
      {% render 'moriarty-featured-content-card',
        image: ss.card_2_image,
        title: ss.card_2_title,
        subtitle: ss.card_2_subtitle,
        card: 'card_2'
      %}
    {% endif %}
  </div>
</div>

{% comment %} SCHEMA {% endcomment %}
{% schema %}
{
  "name": "Featured Content Cards",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "select",
      "id": "card_count",
      "label": "Number of Cards",
      "options": [
        {
          "label": "1",
          "value": "cards_1"
        },
        {
          "label": "2",
          "value": "cards_2"
        }
      ],
      "default": "cards_2"
    },
    {
      "type": "header",
      "content": "First Card"
    },
    {
      "type": "image_picker",
      "id": "card_1_image",
      "label": "Image"
    },

    {
      "type": "text",
      "id": "card_1_title",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "card_1_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Second Card"
    },
    {
      "type": "image_picker",
      "id": "card_2_image",
      "label": "Image"
    },

    {
      "type": "text",
      "id": "card_2_title",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "card_2_subtitle",
      "label": "Subtitle"
    },

    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section top padding",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section bottom padding",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "card_link",
      "name": "Card Link",
      "limit": 8,
      "settings": [
        {
          "type": "select",
          "id": "assigned_to",
          "label": "Assign to",
          "info": "Do not assing more than 4 links per card",
          "options": [
            {
              "label": "First Card",
              "value": "card_1"
            },
            {
              "label": "Second Card",
              "value": "card_2"
            }
          ],
          "default": "card_1"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Content Cards",
      "category": "Content"
    }
  ]
}
{% endschema %}
