.page-hero {
  height: 80vh;
  width: 100%;
  position: relative;
  min-height: 650px;
}
.hero__media {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero__content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
}

.hero__content-wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 60%;
  row-gap: 48px;
}

.content .text-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-self: start;
  row-gap: 20px;
}

.hero__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  word-break: break-word;
}

.text-content .surtitle,
.text-content .title,
.text-content .subtitle {
  margin: 0;
}

.hero__image.image-mobile {
  display: none;
}

@media screen and (min-width: 750px) {
  .hero__content {
    padding: 5rem;
  }

  .hero__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .hero__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .hero__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .hero__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .hero__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .hero__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .hero__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .hero__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .page-hero {
    height: auto;
    width: 100%;
    position: relative;
  }
  .hero__media {
    height: 320px;
    width: 100%;
    object-fit: cover;
  }
  .hero__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .hero__content-wrapper {
    position: relative;
    width: 100%;
    height: 320px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .hero__image.image-mobile {
    display: block;
  }
  .hero__image.image-desktop {
    display: none;
  }
  .hero__content-wrapper .content {
    width: 90%;
    background-color: white;
    justify-content: center;
    position: relative;
    bottom: 25%;
    border: 1px solid #d8d8d8;
  }
  .text-content .headline {
    font-size: 36px;
  }
  .text-content .subtitle {
    font-size: 14px;
  }
}
